site_name: Digest Book

theme:
  name: material
  features:
    - navigation.sections
    - navigation.top
    - toc.follow
    - search.suggest
    - content.code.copy

plugins:
  - search

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight

nav:
  - Home: index.md
  - 0. Setup:
      - "00 — Welcome": lectures/00-welcome.md
      - "01 — Dataset > Model": lectures/01-dataset-beats-model.md
