site_name: Digest Book

theme:
  name: material
  features:
    - navigation.sections
    - navigation.top
    - toc.follow
    - search.suggest
    - content.code.copy

plugins:
  - search
  - mkdocs-jupyter:
      execute: false          # IMPORTANT: don't run notebooks during build
      include_source: true    # show code cells
      show_input: true

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight

nav:
  - Home: index.md
  - 0. Setup:
      - "00 — Welcome": lectures/00-welcome.md
      - "01 — Dataset > Model": lectures/01-dataset-beats-model.md

  - 5. Transformers:
      - "50 — Attention concept": lectures/50-attention-concept.md
      - "Notebook — Toy Attention": notebooks/50_attention_toy.ipynb
